@import "vars";
@import "libs";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
  color: green;
}
h1 {
  background: url(../img/15899-cifrovoe_iskusstvo-zemlya-art-pozhar-peyzash-1920x1080.jpg)
    0 0 no-repeat;
  background-size: cover;
}

// @import "media";
